configuration {
  modi: "window,run,ssh";
  font: "mono 12";
  combi-modi: "window,drun,run";
  icon-theme: "Oranchelo";
  show-icons: true;
  drun-display-format: "{icon} {name}";
  sidebar-mode: true;
}

@theme "./catppuccin-mocha.rasi"
